@charset  "utf-8";
html {
    font-size: 62.5%;
}

body {
    font-size: 1.7rem;
    margin: 0;
}

.text-center {
    text-align: center;
}

.talk-box {
    border: 5px solid;
    width: 80%;
    margin: 30px auto;
    background-color: rgba(51, 51, 51, 0.208);
}

.talk-box #textarea {
    resize: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-width: 2px;
    margin: 30px 0;
    font-size: 2.0rem;
}

.send-box {
    text-align: center;
    padding: 0 40px;
}

.talk-area {
    max-height: 60vh;
    padding: 30px 60px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.talk-area::-webkit-scrollbar {
    display: none;
}

.talk-system input[type="submit"] {
    display: none;
}

.change-person {
    text-align: center;
}

.change-person .on {
    background-color: rgb(230, 196, 83);
}

.change-person i:hover {
    font-size: 6.0rem;
    transition: all 0.3s;
    color: rgb(230, 196, 83);
}

.change-person img,
.change-person i {
    transition: all 0.3s;
    width: 80px;
    height: 80px;
    font-size: 5.0rem;
    padding: 10px;
    border: 5px solid #333;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    margin: 20px;
    overflow: hidden;
}

.send-box label {
    margin: 30px 0;
}

.send-box .far.fa-paper-plane::before {
    font-size: 3.5rem;
    line-height: 44px;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 44px;
    border: 2px solid;
    background-color: #fff;
    text-align: center;
    vertical-align: bottom;
    transition: all 0.3s;
}

.far.fa-paper-plane:hover::before {
    background-color: rgb(58, 157, 124);
    transition: all 0.3s;
    color: #fff;
}

.second .far.fa-paper-plane:hover::before {
    background-color: rgb(194, 97, 97);
}

.talk-area .person1 {
    text-align: right;
    vertical-align: top;
}

.talk-area .person2 {
    text-align: left;
    position: relative;
}

.second .talk-area .person1 {
    text-align: left;
    position: relative;
}

.second .talk-area .person2 {
    text-align: right;
    position: initial;
}

.talk-area .talk {
    position: relative;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
    max-width: 300px;
    text-align: left;
    word-wrap: break-word;
}

.talk-area .talk::after {
    content: '';
    display: inline-block;
    width: 0;
    border-top: #fff solid 15px;
    border-left: transparent solid 6px;
    border-right: transparent solid 6px;
    position: absolute;
    transform: rotate(-120deg);
    right: -9px;
    bottom: 20px;
}

.talk-area .person2 .talk::after {
    border-top: #fff solid 15px;
    border-left: transparent solid 6px;
    border-right: transparent solid 6px;
    position: absolute;
    transform: rotate(120deg);
    right: initial;
    left: -9px;
}

.second .talk-area .talk::after {
    transform: rotate(120deg);
    right: initial;
    left: -9px;
}

.second .talk-area .person2 .talk::after {
    transform: rotate(-120deg);
    left: initial;
    right: -9px;
    bottom: 20px;
}

.talk-area .talk-time {
    position: absolute;
    left: -60px;
}

.talk-area .person2 .talk-time {
    left: initial;
    right: -60px;
}

.second .talk-area .talk-time {
    left: initial;
    right: -60px;
}

.second .talk-area .person2 .talk-time {
    right: initial;
    left: -60px;
}

.talk-area img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 20px 0;
    vertical-align: bottom;
}

.talk-area .person1 img {
    background-color: aquamarine;
}

.talk-area .person2 img {
    background-color: rgb(194, 97, 97);
}

.talk-area .person2 .talk {
    margin-left: 80px;
}

.second .talk-area .talk {
    margin-left: 80px;
}

.talk-area .person2 img {
    position: absolute;
    left: -10px;
    bottom: 0px;
}

.second .talk-area img {
    position: absolute;
    left: -10px;
    bottom: 0px;
}

.second .talk-area .person2 img {
    position: initial;
}

.btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    background-color: #f5f2f0;
}

.btn:hover {
    opacity: 0.8;
}

.flex-box {
    display: flex;
    justify-content: center;
}

form {
    text-align: center;
}

@media (max-width:768px) {
    .chat-box {
        width: 100%;
        margin: 30px auto;
        padding: 20px 0;
        border-left: none;
        border-right: none;
    }
    .talk-area {
        height: 100vh;
        padding: 0px 15px;
    }
    .send-box {
        padding: 0 5px;
    }
    .send-box label {
        margin: 0;
    }
    .talk-system .send-box.flex-box {
        width: 100%;
        padding: 10px 0px 30px;
        flex-direction: row;
        align-items: center;
        gap: 0 !important;
    }
    .talk-box #textarea {
        width: 70%;
        margin: 0;
        font-size: 1.3rem;
        line-height: 18px;
        min-height: 18px;
        padding: 4px;
    }
    .send-box .far.fa-paper-plane::before {
        width: 60px;
        height: 30px;
        margin: 0;
        line-height: 30px;
        font-size: 1.6rem;
    }
    .talk-area .talk {
        margin: 10px 15px;
        padding: 10px;
        max-width: 200px;
        word-wrap: break-word;
        font-size: 1.3rem;
    }
    .talk-area img {
        width: 30px;
        height: 30px;
        margin: 10px 0;
        border-width: 2px;
    }
    .talk-area .talk::after {
        bottom: 10px;
    }
    .second .talk-area .person2 .talk::after {
        bottom: 10px;
    }
    .talk-area .person2 .talk {
        margin-left: 45px;
    }
    .second .talk-area .talk {
        margin-left: 45px;
    }
    .talk-area .talk-time {
        left: -45px;
    }
    .talk-area .person2 .talk-time {
        right: -45px;
    }
    .second .talk-area .talk-time {
        right: -45px;
    }
    .second .talk-area .person2 .talk-time {
        left: -45px;
    }
}