.body{
}



.main {
/* ↓これいらないと思うからコメントアウトしておくね~（永田） */
    /* padding: 20px; */
    border-radius: 10px;
    text-align: left;
    width: auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title p {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.title a {
    text-align: right;
}

hr {
    border: none;
    border-top: 2px solid #00ff84;
    margin-bottom: 20px;
}

.container {
    right: 0;
    text-align: right;
    position: relative;
    margin-top: 20px;
    width: auto;
    height: 300px;
}

.square-wrapper,
.sub-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.square,
.sub-square {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border: 5px solid #a8a8a8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.square img,
.sub-square img {
    width: auto;
    height: 100%;
    object-fit: cover;
    display: none;
}

#imageInput,
#subImageInput1,
#subImageInput2,
#subImageInput3 {
    display: none;
}

#imagePut,
.subImagePut {
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    cursor: pointer;
}

.sub-images {
    display: flex;
    justify-content: space-between;
}

.introduction,
.Hobby,
.off {
    width: 80%;
    padding: 20px;
    margin: 6px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    overflow: auto;
}

 .blood-type, #sex, #school, #hometown, #residence {
    width: 40%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}
.age{
    width: 10%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}
.container {
    right: 0;
    text-align: right; /* 内部要素を右寄せ */
    position: relative; /* 相対位置を追加 */
    margin-top: 20px; /* 上部のマージンを追加 */
    width: 100%;
    height: 300px;
}

.circle-wrapper {
    position: relative; /* 新しく追加した親要素に相対位置を設定 */
    display: flex; /* フレックスボックスに変更 */
    justify-content: center; /* 中央寄せ */
}

.circle {
    width: 180px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ccc; /* 枠線の太さ */
    display: flex;
    flex-direction: column-reverse; /* この行を追加 */
    justify-content: center;
    align-items: center;
    
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#imageInput {
    position: absolute; /* 絶対位置に変更 */
    right: 10px; /* 右端に配置 */
    bottom: 10px; /* 下端に配置 */
    display: inline-block; /* インラインブロックに変更 */
    margin: 0; /* マージンをリセット */
}


/* プラス動かしたい時はmargin-rightとかtop変えて */
#imagePut{
    font-size: 30px; /* 文字を大きくする */
    position: absolute; /* 絶対位置に変更 */
    margin-right: 0px;
    bottom: 0px; /* 下端に配置 */
    right: 250px;
    top:180px;
    width: 50px;
    height: auto;
}

/*↓*/
input[type="checkbox"] {
    transform: scale(2);
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn {
    width: 48%;
    padding: 9px;
    border: none;
    border-radius: 20px;
    background-color: aquamarine;
    color: #000000;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
