/* 全体のフォント設定 */
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: left;
}

/* コンテナの幅と中央寄せ */
.container {
    width: calc(100% - 200px);
    margin: 0 auto;
    margin-left: 21%;
    overflow-x: hidden;
}

/* 水平線のスタイル */
hr {
    border: none;
    border-top: 2px solid #00ff84;
    margin-bottom: 20px;
}

/* ユーザー名を中央に配置 */
.username {
    text-align: center;
}

/* データボックスのスタイル */
.data-box {
    border: 1px solid #000; /* 黒い枠線を追加 */
    padding: 5px; /* 内側の余白を追加 */
    border-radius: 5px; /* 角を丸くする */
    display: inline-block; /* インライン要素に対するブロックレベルのスタイリング */
}
