.recommendation2 {
    display: flex;
    justify-content: flex-start; /* 左寄せ */
    flex-wrap: wrap;
    gap: 10px; /* アイコン間の間隔を狭める */
    padding-right: 100px; /* 一番左のアイコンの位置を左に持ってくる */
}

.user-set2 {
    flex: 0 0 calc(23% - 20px); /* アイコンセットの幅と間隔を狭める */
    margin-bottom: 20px; /* アイコンセット間の間隔 */
    text-align: center;
    box-sizing: border-box; /* ボックスモデルの調整 */
}

.user-set2:nth-child(4n + 1) {
    margin-right: 0; /* アイコン4つごとに改行 */
}

.standard-icon {
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.frame-blue2, .frame-pink2, .frame-gray2 {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    z-index: 1;
    display: inline-block; /* インライン要素として配置 */
}

.frame-blue2 {
    background: radial-gradient(circle, transparent 65%, #613dffbb 15%);
}

.frame-pink2 {
    background: radial-gradient(circle, transparent 65%, #ff5691be 20%);
}

.frame-gray2 {
    background: radial-gradient(circle, transparent 65%, #626262bf 20%);
}

.standard-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* 画像もアイコンの形に合わせる */
}
