.recommendation2 {
    display: flex;
    justify-content: flex-start; /* 左寄せ */
    flex-wrap: wrap;
    gap: 20px; /* アイコン間の間隔 */
}

.user-set2 {
    position: relative;
    margin-bottom: 20px; /* アイコンセット間の間隔 */
    text-align: center;
    width: 140px; /* アイコンセットの幅 */
}

/* アイコン4つごとに改行 */
.user-set2:nth-child(4n+1) {
    clear: both;
}

.standard-icon {
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.frame-blue2, .frame-pink2, .frame-gray2 {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    z-index: 1;
}

.frame-blue2 {
    background: radial-gradient(circle, transparent 65%, #613dffbb 15%);
}

.frame-pink2 {
    background: radial-gradient(circle, transparent 65%, #ff5691be 20%);
}

.frame-gray2 {
    background: radial-gradient(circle, transparent 65%, #626262bf 20%);
}
