body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.h1-search {
    position: relative;
    font-size: 50px;
    text-align: center;
    width: 100%;
    font-family: mameron;
}
.tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tab-item {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.tab-item.is-active {
    background-color: #d0d0d0;
}
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.tab-content.is-active {
    display: block;
}
.search-button {
    background-image: url('../menu-image/seach-free-icon.png'); /* 虫眼鏡のアイコンのパスに置き換える */
    background-size: contain; /* 背景画像を要素に収まるように調整 */
    background-repeat: no-repeat; /* 背景画像を繰り返し表示しないように設定 */
    background-position: center; /* 背景画像を中央に配置 */
    border: none; /* ボーダーを削除 */
    width: 30px; /* ボタンの幅 */
    height: 30px; /* ボタンの高さ */
    cursor: pointer; /* ポインターを表示してクリック可能であることを示す */
}

/*ユーザー名を入力するフォームの外枠*/
#nickname {
    border: 2px solid #7FFFD4;
    border-radius: 5px; /* 角を丸くする場合に追加 */
    padding: 5px; /* 必要に応じてパディングを追加 */
}

/*虫メガネの外枠*/
.search-button-container {
    border: 2px solid #7FFFD4;
    border-radius: 5px; /* 角を丸くする場合に追加 */
    display: inline-block; /* 親要素をインラインブロックにすることで横幅を自動調整 */
}