.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    
}
.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    /* border: 1px solid #ccc; */
    background-color: #ffffff00;
    font-size: x-large ;
}
.tab.active {
    background-color: #7dffc792;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.user-list {
    list-style-type: none;
    padding: 0;
}
.user-list li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    /* border: 1px solid #ccc; */
}
.user-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.actions {
    margin-left: auto;
}
.actions button {
    margin-left: 10px;
    margin-right: 15px;
}

.div.likename{
    font-size: 20px;
    margin-top: 20px;
}
.div.flex{
    text-align: center;
}