/* リセット */
ul{
    list-style:none;
}
/* li{ 
    display:list-item;
    zoom:normal;
} */

  /* トーク画面css */
#main{
    /* 高さや幅など、好きな様に設定
    bms_messages_containerの方で、縦横いっぱいに広がってくれるので、
    ここで充てた高さと横幅がそのままスタイルになる仕組み */

    height:100%;/*ここはご自由に*/
    width: 81%;/*ここはご自由に*/
    position: relative;
    left: 20%;
}
/* チャットの外側部分① */
#bms_messages_container{
    height: 100%;/*mainに対して100%になる */
    width: 100%;/*mainに対して100%になる */
    background-color: #ffffff;
}

/* ヘッダー部分② */
#bms_chat_header {
    /* padding: 6px;隙間調整 */
    font-size: 20px;
    height: 45px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
    /* ステータスマークとユーザー名 */
#bms_chat_user_status {
    float: left;/* bms_chat_headerに対して左寄せ */
}
.btn{
    margin: 10px;
}
    /* ステータスマーク */
#bms_status_icon {
    float: left;/*bms_chat_user_statusに対して左寄せ*/
    line-height: 4em;/*高さ調整*/
    margin-left: 20px;
}
    /* ユーザー名 */
#bms_chat_user_name{
    float: left;/*bms_chat_user_statusに対して左寄せ */
    line-height: 1em;/*高さ調整*/
    padding: 10px;
}
    /* ブロック中を表示 */
#block {
    float: light;/*bms_chat_user_statusに対して左寄せ */
    line-height: 4em;/*高さ調整*/
    padding: 8px;
    color: red;
}
#menu{
    margin-right: 30px;
}
/* アイコン */
.talk_user_img{
    width: 50px;
    height: 50px;
    border-radius: 5;
}

/* タイムライン部分③ */
#my_talk .container{
  overflow: auto;/*スクロールを効かせつつ、メッセージがタイムラインの外に出ないようにする*/
  height:100%;/*テキストエリアが下に張り付く様にする*/
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;/*ヘッダーの下に影を入れる*/
}
  /* メッセージ全般のスタイル */
.comment {
    margin: 0px;
    padding: 0 14px;/*吹き出しがタイムラインの側面にひっつかない様に隙間を開ける*/
    font-size: 16px;
    word-wrap: break-word;/* 吹き出し内で自動で改行 */
    white-space: normal;/*指定widthに合わせて、文字を自動的に改行*/
}
.talking{
    margin-top: 20px;/*上下の吹き出しがひっつかない様に隙間を入れる*/
    max-width: 100%;/*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にする*/
    font-size: 16px;
}
.content{
    padding: 15px;/*文字や画像（コンテンツ）の外側に隙間を入れる*/
    word-break: break-all;
}
  /* メッセージ１（左側） */
.left {
    float: left;/*吹き出しをbms_messagesに対して左寄せ*/
    line-height: 1em;
}
.left .talking {
  color: #333;/*テキストを黒にする*/
  background: #fff;
  border: 2px solid #13178E;
  border-radius: 20px 20px 20px 0px;/*左下だけ尖らせて吹き出し感を出す*/
  margin-right: 50px;/*左側の発言だとわかる様に、吹き出し右側に隙間を入れる*/
}
  /* メッセージ２（右側） */
.right {
    float: right;/*吹き出しをbms_messagesに対して右寄せ*/
    line-height: 1em;
}
.right .talking {
    color: #fff;/*テキストを白にする*/
    background: #13178E;
    border: 2px solid #13178E;
    border-radius: 30px 30px 0px 30px;/*右下だけ尖らせて吹き出し感を出す*/
    margin-left: 50px;/*右側の発言だとわかる様に、吹き出し左側に隙間を入れる*/
}

  /* 回り込みを解除 */
.bms_clear {
    clear: both; /* 左メッセージと右メッセージの回り込み(float)の効果の干渉を防ぐために必要（これが無いと、自分より下のメッセージにfloatが影響する） */
}

/* テキストエリア、送信ボタン④ */
#talk_process {
    background-color:#ffffff;/*タイムラインの色と同じにする*/
    height: 9%;
    width: 78%;
    padding: 4px;
    position: fixed;
	bottom: 0;
}
.text{
    width: calc(100% - 75px);/*常に送信ボタンの横幅を引いたサイズに動的に計算*/
    line-height: 16px;
    height: 48px;
    padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
    border: 1px solid #ccc;
    border-radius: 4px;/*角丸*/
    text-align: left;/*文字を左寄せ*/
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
    box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
}
.talk_btn {
    width: 70px;
    height: 48px;
    font-size: 16px;
    line-height: 3em;
    float: right;/*bms_sendに対して右寄せ*/
    color: #fff;
    font-weight: bold;
    background: #bcbcbc;
    text-align: center;/*文字をボタン中央に表示*/
    border: 1px solid #bbb;
    border-radius: 4px;/*角丸*/
    box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
}
.talk_btn:hover {
    background: #13178E; /*マウスポインタを当てた時にアクティブな色になる*/
    cursor: pointer;/*マウスポインタを当てた時に、カーソルが指の形になる*/
}

.text-color {
    color: #fff; /* テキストのカラー変更はこちら*/
    font-size: 16px; /*テキストサイズの変更はこちら（なければデフォルトのサイズになります）*/
}
/* スクロール用 */
/* .container {
    height: 300px;
    background-color: gray;
    overflow: scroll;
    padding: 2px 4px;
} */

/*========= モーダル表示のためのCSS ===============*/

/*infoエリアをはじめは非表示*/
#info{
    display: none;
  }
  
  /*モーダルの横幅を変更したい場合*/
  .modaal-container{
      max-width: 600px;
  }
  
  /*モーダルのボタンの色を変更したい場合*/
  .modaal-close:after, 
  .modaal-close:before{
    background:#ccc;  
  }
  
  .modaal-close:focus:after,
  .modaal-close:focus:before,
  .modaal-close:hover:after,
  .modaal-close:hover:before{
    background:#666;
  }

/* ナビゲーションメニュー */
.dli-more-v {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 0.25em;
    height: 0.25em;
    background: currentColor;
    border-radius: 50%;
    box-shadow: 0 -0.375em 0 0 currentColor, 0 0.375em 0 0 currentColor;
}
.nav-menu {
    color: #fff; /* メニューテキストの色 */
}
  .menu-list {
    display: flex;
    justify-content: center; /* メニューアイテムを中央揃えに */
  }
  /* .menu-item {
    border-left: 1px solid #fff; メニューアイテムの左ボーダ 
    position: relative;
  } */
  /* .menu-item:last-child {
    border-right: 1px solid #fff; 最後のメニューアイテムの右ボーダー 
  } */
  
   /* メニューアイテムのホバースタイル  */
  .menu-item:hover .drop-menu-list {
    visibility: visible; /* 下層メニューを表示 */
  }
  
  .drop-menu-item a {
    align-items: center;
    color: #fff;  /*メニューアイテム内のリンクテキストの色*/ 
    display: flex;
    height: 50px;
    justify-content: center;
    text-decoration: none;  /*リンクの下線を非表示 */
    width: 50px;
  }
  
  /* ドロップダウンメニュー  */
  .drop-menu {
    position: relative;
  }
  .drop-menu-list {
    background-color: #93f5d4; /*ドロップダウンメニューの背景色*/ 
    left: 0;
    border-radius: 10%;
    position: relative;
    width: auto;
    height: auto;
    top: 100%;
    visibility: hidden; /* 下層メニューを非表示*/
    width: max-content;
    z-index: 1;
  }
  
  

