.talk_user_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.talk-head{
    position: fixed;
}
h1{
    position: relative;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
hr{
    position: relative;
    color: rgb(151, 255, 220);
    text-align: center;
    width: 95%;
}
.row{
    position: relative;
    top: 50px;
}