.talk_user_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.talk-head{
    position: fixed;
    top: 15px;
    bottom: 15px;
}
.h1-talk{
    position: relative;
    font-size: 50px;
    text-align: center;
    width: 100%;
    font-family: mameron;
}
hr{
    position: relative;
    color: rgb(151, 255, 220);
    text-align: center;
    width: 1125px;
}
.row{
    position: relative;
}
.reciver_list{
    position: relative;
    display: flex;
    margin-left: 50px;
    margin-top: 100px;
}
.reciver_namea_age{
    font-size: 25px;
    font-family: mameron;
}
.reciver_text{
    font-size: 20px;
    font-family: mameron;
    color: rgba(84, 111, 91, 0.622);
}
.reciver_info{
    padding-top: 25px;
}