.recommendation{
    display: flex;
}
.recommendation2{
    position: relative;
}

.nick_name1{
    font-size: 18px;
    width: fit-content;
    text-align: center;
    
}

.nick_name2{
    font-size: 22px;
    width: fit-content;
    text-align: center;
}

h2{
    margin-top: 5%;
    margin-left: 3%;
}

hr{
    color: rgb(151, 255, 220);
}

.best-icon{
    position: relative;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    left: 4.6px;
    top: 2.4px;
    z-index: 2;
}

.user-set{
    position: relative;
    margin: 3%;
}
.user-set2{
    position: relative;
    margin: 2%;
    height: 150px;
    width: 130px;
}

.frame-blue{
    position: relative;
    background: radial-gradient(circle, transparent 65%, #613dffbb 15%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 1;

}
.frame-pink{
    position: relative;
    background: radial-gradient(circle, transparent 65%, #ff5691be 20%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 1;
}
.frame-gray{
    position: relative;
    background: radial-gradient(circle, transparent 65%, #626262bf 20%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 1;
}

.standard-icon{
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.frame-blue2{
    position: relative;
    background: radial-gradient(circle, transparent 65%, #613dffbb 15%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    z-index: 1;

}
.frame-pink2{
    position: relative;
    background: radial-gradient(circle, transparent 65%, #ff5691be 20%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    z-index: 1;
}
.frame-gray2{
    position: relative;
    background: radial-gradient(circle, transparent 65%, #626262bf 20%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    z-index: 1;
}