.recommendation{
    display: flex;
}

.nick_name1{
    font-size: 18px;
    width: fit-content;
}

.nick_name2{
    font-size: 22px;
    width: fit-content;
}

h2{
    margin-top: 5%;
    margin-left: 3%;
}

hr{
    color: rgb(151, 255, 220);
}

.best-icon{
    position: relative;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
}

.standard-icon{
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.user-ser{
    position: relative;
    margin: 10%;
}