.menu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 100%;
    background-color: rgb(151, 255, 220);
    z-index: 10; /* メニューのz-indexを10に設定 */
}

.main {
    position: relative;
    left: 21%;
    z-index: 1; /* ダッシュボードのz-indexを1に設定 */
    padding-left: 50px;
}

.a {
    display: block;
    text-decoration: none;
    color: black;
    width: 70%;
    padding-top: 3%;
    text-align: center;
    z-index: 2; /* リンクのz-indexを2に設定 */
}
.h1{
    color: rgb(151, 255, 220);
    font-size: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    margin: 50px 50px 50px 50px;
}

.m-boy{
    position: relative;
    color: rgb(132, 65, 255);
    left: 60px;
}

.m-girl{
    position: relative;
    color: rgb(255, 86, 148);
    left: 120px;
}

.m-others{
    position: relative;
    color: rgb(70, 70, 70);
    left: 180px;
}

.dashboard-item1{
    display: flex;
    border: 1px solid #000000;
    
    border-radius: 10px;
}

/* .dash1{
    display: flex;
} */

.itiranGo{
    color: rgb(87, 87, 87);
}
.itiranGo1{
    color: rgb(87, 87, 87);
}