.main {
    position: relative;
    left: 21%;
    z-index: 1; /* ダッシュボードのz-indexを1に設定 */
    padding-left: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}
tbody {
    display: block;
    max-height: 200px; /* スクロール領域の高さを指定 */
    overflow-y: auto;
}
tbody tr {
    display: table;
    table-layout: fixed; /* セルの幅を固定 */
    width: 100%;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* セルの幅を固定 */
}
tbody tr:nth-child(even) {
    background-color: #cccccc; /* 偶数行の背景色を灰色に設定 */
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* 奇数行の背景色を白色に設定 */
}
.tuika_button {
    border: 2px solid #000; /* ここで枠線を追加 */
    padding: 10px 20px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.tuika-button:hover {
    background-color: #ddd; /* ホバー時の色変更 */
}
.sakujo_button {
    border: 2px solid #000; /* ここで枠線を追加 */
    padding: 10px 20px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.sakujo-button:hover {
    background-color: #ddd; /* ホバー時の色変更 */
}