.main {
    position: relative;
    left: 21%;
    z-index: 1; /* ダッシュボードのz-indexを1に設定 */
    padding-left: 50px;
}
table {
    width: 78%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}
tbody {
    display: block;
    max-height: 200px; /* スクロール領域の高さを指定 */
    overflow-y: auto;
}
tbody tr {
    display: table;
    table-layout: fixed; /* セルの幅を固定 */
    width: 100%;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* セルの幅を固定 */
}
tbody tr:nth-child(even) {
    background-color: #cccccc; /* 偶数行の背景色を灰色に設定 */
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* 奇数行の背景色を白色に設定 */
}
.tuika,
.sakujyo{
    border: 2px solid #000; /* ここで枠線を追加 */
    padding: 5px 10px; /* パディングを縮小 */
    background-color: #f0f0f0;
    cursor: pointer;
    display: inline-block; /* インラインブロックに変更 */
    margin: 5px; /* ボタン間の余白を追加 */
}

.tuika:hover,
.sakujyo:hover {
    background-color: #ddd; /* ホバー時の色変更 */
}


.tuika:hover,
.sakujyo:hover {
    background-color: #ddd; /* ボタンのホバー時の背景色変更 */
}

/* テキストボックスのデザイン */
input[type="text"] {
    border: 1px solid #ccc; /* 枠線の色 */
    padding: 8px; /* 内側の余白 */
    width: calc(100% - 16px); /* テキストボックスの幅 */
    box-sizing: border-box; /* パディングと枠線を含めて幅を計算 */
    margin-bottom: 10px; /* 下のマージン */
}

/* フォームの項目を横並びに配置 */
.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; /* 項目間の余白 */
}

.form-group label {
    flex: 0 0 150px; /* ラベルの固定幅 */
    margin-right: 10px; /* ラベルとテキストボックスの間の余白 */
    text-align: right; /* ラベルのテキストを右揃え */
}

.form-group input[type="text"] {
    flex: 1; /* テキストボックスが残りのスペースを占める */
}
