
body{
    position: relative;
    display: flex;
}
.menu{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 21%;
    height: 100%;
    background-color: aquamarine;
    z-index: 10;
}
.main{
    position: relative;
    left: 23%;
}
.logo{
    position: relative;
    /* display: block; */
    /* margin: 0 auto; */
    /* padding-left: 50px;
    padding-right: 50px; */
    margin-top: 10%;
    margin-bottom: 10%;
    width: 70%;
    height: 50%;
}
.logo-space{
    position: relative;
    display: flex;
    justify-content: center;
    /* display: block;
    margin: 0 auto; */
    /* padding-top: 30px;
    padding-bottom: 30px; */
}
.icon{
    position: relative;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    /* margin-top: 10%;
    margin-left: 100%; */
    /* margin-right: 100%; */
    /* margin-bottom: 10%; */
    display: flex;
    justify-content: center;
    background-color: rgb(207, 207, 207);
    z-index: 1;
}
.icon-space{
    position: relative;
    width: 21%;
    /* height: 100%; */
}
.name{
    text-align: center;
    padding: ;
    font-size: 20px;
}
p{
    display: flex;
    list-style:none;
    margin-top: 0px;
    padding: ;
    font-size: 25px;
}
a{
    display: block;
    text-decoration: none;
    color: black;
    width: ;
    text-align: center;
    /* font-weight: bold; */
}
.link-space{
    position: relative;
    padding-top: ;
}
.parson-free-icon{
    width: ;
    height: ;
}
.seach-free-icon{
    width: ;
    height: ;
}
.like-free-icon{
    width: ;
    height: ;
}
.community-free-icon{
    width: ;
    height: ;
}
.talk-free-icon{
    width: ;
    height:;
}